.clients {
  display: flex;
  justify-content: center;

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 170px;
    height: 92px;

    border: 1px solid #afb1b8;
    border-radius: 4px;
    fill: #afb1b8;

    transition: fill 250ms cubic-bezier(var(--cubic-bz)),
      border-color 250ms cubic-bezier(var(--cubic-bz));

    &:hover,
    &:focus {
      border-color: var(--accent-color);
      fill: var(--accent-color);
      outline: transparent;
    }
  }
}
